
server:
  port: 8081
spring:
  application:
    name: client # 服务器的名字

eureka:
  instance:
    hostname: ${spring.cloud.client.ip-address}
  client:
    service-url:
      defaultZone: http://localhost:8080/eureka